@model OllieShop.Models.Specifications

@{
    ViewData["Title"] = "刪除規格頁";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">請詳讀以下說明!!</h4>
    <p class="mb-0">提醒您，規格一經刪除就無法回復本次操作，刪除時請慎重決定</p>
</div>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            <img class="w-100" src="@Html.DisplayFor(model => model.Picture)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freebie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freebie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PT.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PT.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SNID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-controller="SellerProductsManagement" asp-action="Edit" asp-route-id="@Model.PTID">不刪除，返回商品編輯</a>
        <div class="form-group d-none">
            <input asp-for="PTID" class="form-control" value="@Model.PTID" />
        </div>
    </form>
</div>
