@model OllieShop.Models.Specifications

@{
    ViewData["Title"] = "編輯商品規格頁";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
        <div class="col">
            <span>變更</span><label asp-for="Picture" class="control-label"></label>
            <form asp-controller="FileUpload" asp-action="photoReplace" enctype="multipart/form-data" id="pictureForm">
                <input type="file" name="photo" id="photoInput" />
                <input class="btn btn-outline-dark" type="submit" value="上傳並預覽" />
            </form>
            <span class="text-danger d-none" id="pictureValidation">請上傳圖片一張</span>
            <span class="text-success" id="afterRelpaceMessage"></span>
            <img class="w-100 my-2" src="@Model.Picture" />
        </div>
        <form class="col" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SNID" />
            <div class="form-group">
                <label asp-for="SpecName" class="control-label"></label>
                <input asp-for="SpecName" class="form-control" />
                <span asp-validation-for="SpecName" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control"/>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeadDay" class="control-label"></label>
                <input asp-for="LeadDay" class="form-control" />
                <span asp-validation-for="LeadDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageSize" class="control-label"></label>
                <input asp-for="PackageSize" class="form-control" />
                <span asp-validation-for="PackageSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>商品附贈品?</label>
                <div class="form-check">
                    <input type="radio" name="HasFreebie" value="true" id="freebieIdOption1" />
                    <label class="form-check-label" for="taxIdOption">有贈品</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="HasFreebie" value="false" id="freebieIdOption2" />
                    <label class="form-check-label">無贈品</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Freebie" class="control-label"></label>
                <input asp-for="Freebie" class="form-control" id="freebieInput" readonly />
                <span asp-validation-for="Freebie" class="text-danger"></span>
            </div>

            <div class="form-group d-none">
                <label asp-for="PTID" class="control-label"></label>
                <input asp-for="PTID" class="form-control" value="@ViewBag.PTID" />
                <span asp-validation-for="PTID" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between mt-4">
                <input type="submit" value="編輯" class="btn btn-primary" />
                <a class="btn btn-danger" asp-controller="SellerSpecificationsManagement" asp-action="Delete" asp-route-id="@Model.SNID">刪除</a>
            </div>
        </form>
</div>

<div>
    <a asp-controller="SellerProductsManagement" asp-action="Edit" asp-route-id="@Model.PTID">不編輯此筆規格，返回商品編輯頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // 使用jQuery的方式綁定Form的submit事件
        $("#pictureForm").submit(function (e) {
            e.preventDefault(); // 阻止Form的默認提交行為
            if (photoInput.value != "") {
                // 使用FormData來構建請求數據，包括文字數據和檔案
                var formData = new FormData(this);
                //上傳圖片前，要把保存在圖庫的舊圖片給替換掉，將舊圖路徑參數傳到formData並透過post交由replacePhoto action處理
                formData.append("oldPhotoPath", "@Model.Picture");
                // 使用AJAX向Controller的Action發送POST請求
                $.ajax({
                    url: "@Url.Action("photoReplace", "FileUpload",new {SRID=@ViewBag.SRID})",
                    type: "POST",
                    data: formData, // 把Form中的數據序列化作為請求參數
                    processData: false, // 不要處理data
                    contentType: false, // 不要設置contentType，因為FormData已經處理了
                    success: function (response) {
                        // 成功接收到返回的字串後，將結果傳到specform需要的欄位與顯示上傳後圖片畫面
                        if (response != "上傳圖片檔案類型僅限jpg或png兩種格式之一") {
                            $('#pictureValidation').addClass("d-none");
                            $('#afterRelpaceMessage').html(response);
                        }
                        else {
                            alert(response);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
            else {
                alert("請先選擇圖片後再點上傳");
            }
        });

        // 使用jQuery的方式綁定otherForm的submit事件
        $("#specForm").submit(function (e) {
            // 檢查是否至少選擇了一張圖片
            if (!$('#photoInput').get(0).files.length) {
                e.preventDefault(); // 阻止Form的默認提交行為
                $('#pictureValidation').removeClass("d-none");
            }
        });


        //贈品欄位的Radio選項
        const freebieIdOption1 = document.getElementById("freebieIdOption1");
        const freebieIdOption2 = document.getElementById("freebieIdOption2");
        const freebieInput = document.getElementById("freebieInput");

        freebieIdOption1.addEventListener("change", function () {
            if (freebieIdOption1.checked) {
                freebieInput.value = "";
                freebieInput.removeAttribute("readonly");
            }
        });

        freebieIdOption2.addEventListener("change", function () {
            if (freebieIdOption2.checked) {

                freebieInput.value = "無贈品";
                freebieInput.setAttribute("readonly", "readonly");
            }
        });
    </script>
}
