@model IEnumerable<OllieShop.Models.Specifications>

@{
    ViewData["Title"] = "規格總覽";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">新增規格</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freebie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecName)
            </td>
            <td>
                <img width="150" height="150" src="@Html.DisplayFor(modelItem => item.Picture)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freebie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SNID">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.SNID">內容</a> |
                <a asp-action="Delete" asp-route-id="@item.SNID">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
