@model IEnumerable<OllieShop.Models.ShipVias>

@{
    ViewData["Title"] = "運送方式總覽";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    var adminInfomation = Context.Session.GetString("AdminInfomation");
    var adminFullInfo = Newtonsoft.Json.JsonConvert.DeserializeObject<Admins>(adminInfomation);
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-ADID="@adminFullInfo.ADID">新增運送方式</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SVID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AD.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SVID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AD.Account)
            </td>
            <td>
                @if (item.ADID == adminFullInfo.ADID)
                {
                    <a asp-action="Delete" asp-route-id="@item.SVID">刪除</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
