@model IEnumerable<OllieShop.Models.Coupons>

@{
    ViewData["Title"] = "折價券總覽";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">新增折價券</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CNID">編輯</a> |
                <a asp-action="Delete" asp-route-id="@item.CNID">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
