@model OllieShop.Models.Admins

@{
    ViewData["Title"] = "管理員內容";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnableDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnableDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisableDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisableDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ADID">編輯</a> |
    <a asp-action="Index">回管理員清冊</a>
</div>
