@model IEnumerable<OllieShop.Models.Specifications>
@{
    Layout = null;
    string accordionContent;
    Accordion accordion = new Accordion();
    int accordionCaculactor = 1;
    string accordionIDTag = "Specifications";
}

@foreach(var specificationsInfo in Model){
    accordionContent = @"
    <dt class='col-sm-2 specificationNumber'>
    " + @Html.DisplayNameFor(s => specificationsInfo.SNID) + @":
    </dt>
    <dd class='col-sm-10 specificationNumber'>
        " + @specificationsInfo.SNID + @"
    </dd>
    <hr class='specificationNumber'>
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(s => specificationsInfo.SpecName) + @":
    </dt>
    <dd class='col-sm-10'>
        " + @specificationsInfo.SpecName + @"
    </dd>
    <hr>
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(a => specificationsInfo.Picture) + @":
    </dt>
    <dd class='col-sm-10 w-50'>
        <img class = 'w-50' src=' " + specificationsInfo.Picture + @" ' />" + @"
    </dd>
    <hr>
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(modelItem => specificationsInfo.Weight) + @":
    </dt>
    <dd class='col-sm-10'>
        " + @specificationsInfo.Weight + @"
    </dd>
        <hr>
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(modelItem => specificationsInfo.Size) + @":
    </dt>
    <dd class='col-sm-10'>
        " + @specificationsInfo.Size + @"
    </dd>
    <hr>
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(modelItem => specificationsInfo.LeadDay) + @":
    </dt>
    <dd class='col-sm-10'>
        " + @specificationsInfo.LeadDay + @"
    </dd>
    <hr>
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(modelItem => specificationsInfo.PackageSize) + @":
    </dt>
    <dd class='col-sm-10'>
    " + @specificationsInfo.PackageSize + @"
    </dd>
    <hr>
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(modelItem => specificationsInfo.Freebie) + @":
    </dt>
    <dd class='col-sm-10'>
        " + @specificationsInfo.Freebie + $@"
    </dd>
    <hr class ='editSpecificationLink'>
    <div class='text-end'>
        <a class='btn btn-secondary btn-lg editSpecificationLink' href='/SellerSpecificationsManagement/Edit/{specificationsInfo.SNID}'>
            <i class='bi bi-pencil-square'></i>編輯內容
        </a>
    </div>
    ";

    accordionContent = accordion.accordionGenerator("規格組" + accordionCaculactor + " :", accordionContent, accordionCaculactor, accordionIDTag);
    accordionCaculactor++;
    <div>@Html.Raw(accordionContent)</div>
}
