@model OllieShop.Models.Users

@{
    ViewData["Title"] = "個人資料";
}
<div class="d-flex flex-column container-fluid">
    <h1>@ViewData["Title"]</h1>
    <div>
        <hr />
        <div class="my-3 text-primary">@TempData["editSuccessMessage"]</div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @(Model.Gender ? "男性" : "女性")
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDay)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.BirthDay)
            </dd>
        </dl>
    </div>
    <div>
        <form asp-action="WriteEditFormPage" asp-controller="UsersFrontEndPage">
            <input type="hidden" name="urid" id="urid" value="@Model.URID" />
            <input class="my-3 btn btn-outline-dark" type="submit" value="修改內容" />
        </form>
        <a asp-action="Index" asp-controller="Home">返回商城首頁</a>
    </div>
</div>