@model IEnumerable<OllieShop.Models.Violations>

@{
    ViewData["Title"] = "違規案件列表";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    string adminInfomation = Context.Session.GetString("AdminInfomation");
    Admins adminFullInfo = new Admins();
    if(adminInfomation != null)
    {
       adminFullInfo = Newtonsoft.Json.JsonConvert.DeserializeObject<Admins>(adminInfomation);
    }
    
}
<h1 id="headTitle">@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubmitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suspect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        if (item.AD != null){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suspect)
                </td>
                @switch (item.Disabled)
                {
                    case true:
                        <td class="text-danger">
                            停權
                        </td>
                        break;

                    case false:
                        <td class="text-success">
                            不停權
                        </td>
                        break;
                }

                <td>
                    @Html.DisplayFor(modelItem => item.AD.Account)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.VioID">完整內容</a>
                </td>
            </tr>
            }
            else
            {
                <tr class="table-danger">
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmitDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Submitter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Suspect)
                    </td>
                    <td>尚未審核

                    </td>
                    <td>
                        尚未有人員處理
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.VioID" asp-route-ADID="@adminFullInfo.ADID" class="text-white">審核</a> |
                        <a asp-action="Details" asp-route-id="@item.VioID" class="text-white">完整內容</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
