@model List<OllieShop.ViewModels.VMGenerateOrdersByCartData> 

@{
    ViewData["Title"] = "商品運送與付款確認";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}
<style>
    #ProductInfoColumn {
        width: 200px;
    }

    .table{
        table-layout: fixed;
    }
</style>

<h1>@ViewData["Title"]</h1>

<table class="table align-middle">
    <thead class="table-light">
        <tr>
            <th>商品</th>
            <th>付款方式</th>
            <th>運送方式</th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="processOrders" method="post">
            @for(var i=0;i <Model.Count();i++)
            {
                <tr>
                    <td id="ProductInfoColumn" class="border-end">
                        <span class="h3">@Model[i].products.Name</span>
                        <img class="w-100 h-100" src="@Model[i].specifications.Picture" />
                    </td>
                    <td class="border-end">
                        <div class="sellerPaymentOptionsList">
                            <select class="form-control" name="CartProductPayment_@i">
                                <option value="">請選擇付款方式</option>
                                @foreach(SelectListItem sellerPaymentOption in @Model[i].sellerPaymentMethodOptions){
                                    <option value="@(sellerPaymentOption.Value)">@(sellerPaymentOption.Text)</option>
                                }
                            </select>      
                        </div>
                        <div class="customerPaymentCardOptionsList d-none">
                            <label>信用卡卡號</label>
                            <select class="form-control" name="CartProductPaymentCard_@i">
                                <option value="">請選擇信用卡卡號</option>
                                @foreach(SelectListItem customerPaymentCardOptions in @Model[i].customerPaymentCardOptions)
                                {
                                    <option value="@(customerPaymentCardOptions.Value)">@(customerPaymentCardOptions.Text)</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <select class="form-control" name="CartProductShipVia_@i">
                            <option value="">請選擇運送方式</option>
                            @foreach(SelectListItem sellerShipViaOptions in @Model[i].sellerShipViaOptions)
                            {
                                <option value="@(sellerShipViaOptions.Value)">@(sellerShipViaOptions.Text)</option>
                            }
                        </select>
                    </td>
                </tr>
            }
        <div class="form-group my-3">
            <input type="submit" value="完成訂單" class="btn btn-primary btn-lg" />
        </div>
        </form>
    </tbody>
</table>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const customerPaymentCardOptions = $(".customerPaymentCardOptionsList .form-control");

        for(i=0; i < customerPaymentCardOptions.length;i++){
            console.log(customerPaymentCardOptions[i].childNodes);
            if(customerPaymentCardOptions[i].childNodes.length == 2){
                customerPaymentCardOptions[i].parentNode.classList.add("d-none");
            }
        }

        $(document).ready(function () {
            $('.sellerPaymentOptionsList .form-control').change(function () {
                var customerPaymentCardOptionsList = $(this).parent().next();
                if ($(this).val() === 'PM02') {
                    customerPaymentCardOptionsList.removeClass("d-none");
                    return "";
                }
                //選中後刷卡選項後又改回其他，就需要隱藏並清空
                customerPaymentCardOptionsList.addClass("d-none");
                customerPaymentCardOptionsList.children().eq(1).val("");

            });
        });
    </script>
}