@model List<OllieShop.ViewModels.VMGenerateOrdersByCartData> 

@{
    ViewData["Title"] = "商品運送與付款確認";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}
<style>
    #ProductInfoColumn {
        width: 200px;
    }

    .table{
        table-layout: fixed;
    }
</style>

<h1>@ViewData["Title"]</h1>

<table class="table align-middle">
    <thead class="table-light">
        <tr>
            <th>商品</th>
            <th>賣場付款方式</th>
            <th>賣場運送方式</th>
        </tr>
    </thead>
    <tbody>

        <form asp-controller="home" asp-action="processOrders" method="post">
            @Html.AntiForgeryToken()
            @{
                List<long?> sellerIDInCartProduct = new List<long?>();
                foreach (var item in Model)
                {
                    sellerIDInCartProduct.Add(item.products.SRID);
                }
                bool sameSellerProductPrintedExist = false;
            }

            @for(int i=0;i <Model.Count();i++)
            {
                //確認是否在這之前有印出同一商家的不同商品
                for(int j = 0; j < i; j++)
                {
                    @if (Model[i].products.SRID == sellerIDInCartProduct[j])
                    {
                         sameSellerProductPrintedExist = true;
                         break;
                    }
                    sameSellerProductPrintedExist = false;
                }
                //迴圈印元素前，先確認是否之前有印出同一商家的商品，若有就將同一商家不同商品的元素加入到已經生成的元素當中
                if (sameSellerProductPrintedExist)
                {
                        //填入OrderDetail資料表需要的資料
                        <input class="form-control" type="hidden" asp-for="@Model[i].products.PTID" />
                        <input class="form-control" type="hidden" asp-for="@Model[i].specifications.SNID" />
                        <input class="form-control" type="hidden" asp-for="@Model[i].RequireQuantities" />
                        //填入Order資料表需要的資料
                        <input class="form-control" type="hidden" asp-for="@Model[i].orders.OrderDate" />
                        <input class="form-control" type="hidden" asp-for="@Model[i].orders.CRID" />
                        <input class="form-control" type="hidden" asp-for="@Model[i].orders.ASID" />
                        <input class="form-control" type="hidden" asp-for="@Model[i].orders.CNID" />
                        <input class="form-control" type="hidden" asp-for="@Model[i].products.SRID" />
                    <tr>
                        <td id="ProductInfoColumn" class="border-end">
                            <span class="h3">@Model[i].products.Name</span>
                            <img class="w-100 h-100" src="@Model[i].specifications.Picture" />
                        </td>
                        <td class="border-end"></td>
                        <td></td>
                    </tr>
                    continue;
                }
                //填入OrderDetail資料表需要的資料
                <input class="form-control" type="hidden" asp-for="@Model[i].products.PTID" />
                <input class="form-control" type="hidden" asp-for="@Model[i].specifications.SNID" />
                <input class="form-control" type="hidden" asp-for="@Model[i].RequireQuantities" />
                //填入Order資料表需要的資料
                <input class="form-control" type="hidden" asp-for="@Model[i].orders.OrderDate" />
                <input class="form-control" type="hidden" asp-for="@Model[i].orders.CRID" />
                <input class="form-control" type="hidden" asp-for="@Model[i].orders.ASID" />
                <input class="form-control" type="hidden" asp-for="@Model[i].orders.CNID" />
                <input class="form-control" type="hidden" asp-for="@Model[i].products.SRID" />
                <tr>
                    <td id="ProductInfoColumn" class="border-end">
                        <span class="h3">@Model[i].products.Name</span>
                        <img class="w-100 h-100" src="@Model[i].specifications.Picture" />
                    </td>
                    <td class="border-end">
                       <div class="sellerPaymentOptionsList form-group">
                        <select class="form-control" id="[@(i)].sellerPaymentMethodOptions" name="[@(i)].sellerPaymentMethodOptions" asp-items='(IEnumerable<SelectListItem>)@ViewData[$"sellerPaymentMethods{i}"]'>
                                <option value="" selected>請選擇付款方式</option>
                        </select>
                        </div>
                        <div class="customerPaymentCardOptionsList d-none form-group">
                            <label>信用卡卡號</label>
                        <select class="form-control" id="[@(i)].customerPaymentCardOptions" name="[@(i)].customerPaymentCardOptions" asp-items='(IEnumerable<SelectListItem>)@ViewData[$"customerPaymentCards{i}"]'>
                                <option value="" selected>請選擇信用卡卡號</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                        <select class="form-control" id="[@(i)].sellerShipViaOptions" name="[@(i)].sellerShipViaOptions" asp-items='(IEnumerable<SelectListItem>)@ViewData[$"sellerShipVias{i}"]'>
                                <option value="" selected>請選擇運送方式</option>
                        </select>
                        </div>
                    </td>
                </tr>
            }
            <tr class="form-group my-3">
                <td colspan="3">
                    <div class="d-grid gap-2">
                        <input type="submit" value="完成訂單" class="btn btn-primary btn-lg" />
                    </div>
                </td>
            </tr>
        </form>
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const customerPaymentCardOptions = $(".customerPaymentCardOptionsList .form-control");

        for(i=0; i < customerPaymentCardOptions.length;i++){
            console.log(customerPaymentCardOptions[i].childNodes);
            if(customerPaymentCardOptions[i].childNodes.length == 2){
                customerPaymentCardOptions[i].parentNode.classList.add("d-none");
            }
        }

        $(document).ready(function () {
            $('.sellerPaymentOptionsList .form-control').change(function () {
                var customerPaymentCardOptionsList = $(this).parent().next();
                if ($(this).val() === 'PM02') {
                    customerPaymentCardOptionsList.removeClass("d-none");
                    return "";
                }
                //選中後刷卡選項後又改回其他，就需要隱藏並清空
                customerPaymentCardOptionsList.addClass("d-none");
                customerPaymentCardOptionsList.children().eq(1).val("");

            });
        });
    </script>
}