@model OllieShop.ViewModels.VMSellerProductsManagement

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>Create</h1>

<h4>Products</h4>
<hr />
    <div>
        <form class="row" asp-action="Create">
            <div class="col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" id="forSpecNameCopy" oninput="syncInput()" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryFee" class="control-label"></label>
                    <input asp-for="DeliveryFee" class="form-control" />
                    <span asp-validation-for="DeliveryFee" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="LaunchDate" class="control-label"></label>
                    <input asp-for="LaunchDate" class="form-control" value='@ViewData["LaunchDate"]'/>
                    <span asp-validation-for="LaunchDate" class="text-danger"></span>
                </div>
                <div class="form-group form-check d-none">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Hidden"/> @Html.DisplayNameFor(model => model.Hidden)
                    </label>
                </div>
                <div class="form-group form-check d-none">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Locked" /> @Html.DisplayNameFor(model => model.Locked)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Inquired" /> @Html.DisplayNameFor(model => model.Inquired)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Installment" /> @Html.DisplayNameFor(model => model.Installment)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Unopened" /> @Html.DisplayNameFor(model => model.Unopened)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShelfQuantity" class="control-label"></label>
                    <input asp-for="ShelfQuantity" class="form-control" />
                    <span asp-validation-for="ShelfQuantity" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="SoldQuantity" class="control-label"></label>
                    <input asp-for="SoldQuantity" class="form-control" value="0"/>
                    <span asp-validation-for="SoldQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CYID" class="control-label"></label>
                    <select asp-for="CYID" class="form-control" asp-items="ViewBag.CategorysSelectList"></select>
                    <span asp-validation-for="CYID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SRID" class="control-label"></label>
                    <input asp-for="SRID" class ="form-control" />
                </div>
            </div>
            @*要送到規格資料表的欄位*@
            <div class="col">
                <div class="form-group d-none">
                    <label asp-for="SpecName" class="control-label"></label>
                    <input asp-for="SpecName" class="form-control" id="specName"/>
                    <span asp-validation-for="SpecName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeadDay" class="control-label"></label>
                    <input asp-for="LeadDay" class="form-control" />
                    <span asp-validation-for="LeadDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PackageSize" class="control-label"></label>
                    <input asp-for="PackageSize" class="form-control" />
                    <span asp-validation-for="PackageSize" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>商品附贈品?</label>
                    <div class="form-check">
                        <input type="radio" name="HasFreebie" value="true" id="freebieIdOption1" />
                        <label class="form-check-label" for="taxIdOption">有贈品</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="HasFreebie" value="false" id="freebieIdOption2" />
                        <label class="form-check-label">無贈品</label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Freebie" class="control-label"></label>
                    <input asp-for="Freebie" class="form-control" id="freebieInput" readonly/>
                    <span asp-validation-for="Freebie" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Picture" class="control-label"></label>
                    <input asp-for="Picture" class="form-control" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>是否加入商品描述?</label>
                    <div class="form-check">
                        <input type="radio" name="HasDescription" value="true" id="descriptionIdOption1" />
                        <label class="form-check-label" for="descriptionOption">有描述</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="HasDescription" value="false" id="descriptionIdOption2" />
                        <label class="form-check-label">無描述</label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" id="descriptionInput"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-grid gap-2 my-4">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">不新增，返回商品總覽</a>
</div>

<script>
    //監視textarea回車後觸發縱向高度調整
    var textarea = document.querySelector('textarea');
    textarea.addEventListener('keydown', autosize);
    function autosize(){
      var el = this;
      setTimeout(function(){
        el.style.cssText = 'height:auto; padding:0';
        el.style.cssText = 'height:' + el.scrollHeight + 'px';
      },0);
    }

    //將SpecName欄位值同步到Name欄位輸入內容
    var forSpecNameCopy;
    var specName = document.getElementById("specName")
    function syncInput(){
        forSpecNameCopy = document.getElementById("forSpecNameCopy").value;
        specName.value = forSpecNameCopy;
    }

    //描述欄位的Radio選項
    const descriptionIdOption1 = document.getElementById("descriptionIdOption1");
    const descriptionIdOption2 = document.getElementById("descriptionIdOption2");
    const descriptionInput = document.getElementById("descriptionInput");

    descriptionIdOption1.addEventListener("change", function () {
        if (descriptionIdOption1.checked) {
            descriptionInput.value = "";
            descriptionInput.removeAttribute("readonly");
        }
    });

    descriptionIdOption2.addEventListener("change", function () {
        if (descriptionIdOption2.checked) {
            descriptionInput.value = "無描述";
            descriptionInput.setAttribute("readonly", "readonly");
        }
    });

    //贈品欄位的Radio選項
    const freebieIdOption1 = document.getElementById("freebieIdOption1");
    const freebieIdOption2 = document.getElementById("freebieIdOption2");
    const freebieInput = document.getElementById("freebieInput");

    freebieIdOption1.addEventListener("change", function () {
        if (freebieIdOption1.checked) {
            freebieInput.value = "";
            freebieInput.removeAttribute("readonly");
        }
    });

    freebieIdOption2.addEventListener("change", function () {
        if (freebieIdOption2.checked) {

            freebieInput.value = "無贈品";
            freebieInput.setAttribute("readonly", "readonly");
        }
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
