@model OllieShop.Models.Products

@{
    ViewData["Title"] = "刪除商品";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">請詳讀以下說明!!</h4>
    <p class="mb-0">提醒您，商品一經刪除就無法回復本次操作，刪除時請慎重決定</p>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hidden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hidden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inquired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inquired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unopened)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unopened)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelfQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CY.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CY.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PTID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回商品總覽</a>
    </form>
</div>
