@model OllieShop.Models.Products

@{
    ViewData["Title"] = "編輯商品內容";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PTID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryFee" class="control-label"></label>
                <input asp-for="DeliveryFee" class="form-control"/>
                <span asp-validation-for="DeliveryFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaunchDate" class="control-label"></label>
                <input asp-for="LaunchDate" class="form-control" readonly/>
                <span asp-validation-for="LaunchDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hidden" /> @Html.DisplayNameFor(model => model.Hidden)
                </label>
            </div>
            <div class="form-group form-check d-none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Locked" /> @Html.DisplayNameFor(model => model.Locked)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Inquired" /> @Html.DisplayNameFor(model => model.Inquired)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Installment" /> @Html.DisplayNameFor(model => model.Installment)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Unopened" /> @Html.DisplayNameFor(model => model.Unopened)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelfQuantity" class="control-label"></label>
                <input asp-for="ShelfQuantity" class="form-control" />
                <span asp-validation-for="ShelfQuantity" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="SoldQuantity" class="control-label"></label>
                <input asp-for="SoldQuantity" class="form-control" />
                <span asp-validation-for="SoldQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CY.Name" class="control-label"></label>
                <select asp-for="CYID" class="form-control" asp-items="ViewBag.CategorysSelectList"></select>
                <span asp-validation-for="CYID" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="SRID" class="control-label"></label>
                <input asp-for="SRID" class="form-control" />
            </div>
            <div class="form-group my-4">
                <input type="submit" value="編輯" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
    <div class="col-8">
        <div class="text-end">
            <a asp-action="Index">不編輯，返回商品總覽</a>
        </div>
        <a class="btn btn-outline-primary" asp-controller="SellerSpecificationsManagement" asp-action="Create" 
        asp-route-SRID="@Model.SRID" asp-route-PTID="@Model.PTID" asp-route-productName="@Model.Name">新增規格</a>
        @await Component.InvokeAsync("VCSpecifications" , new{ptid = Model.PTID})
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //監視textarea回車後觸發縱向高度調整
        var textarea = document.querySelector('textarea');
        textarea.addEventListener('keydown', autosize);
        function autosize() {
            var el = this;
            setTimeout(function () {
                el.style.cssText = 'height:auto; padding:0';
                el.style.cssText = 'height:' + el.scrollHeight + 'px';
            }, 0);
        }


        //要在此畫面隱藏default載入的編號欄位，因為這是商家頁面
        const specificationNumber = document.getElementsByClassName("specificationNumber");
        for (i=0;i<specificationNumber.length;i++) {
            specificationNumber[i].classList.add("d-none");
        }
        
    </script>
}
