@model OllieShop.Models.Sellers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sellers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UR.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SRID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
