@model IEnumerable<OllieShop.Models.Accounts>
@{
    Layout = null;
    string accordionContent;
    Accordion accordion = new Accordion();
    int accordionCaculactor = 1;
    string accordionIDTag = "Accounts";
}

@foreach(var accountsInfo in Model)
{

    accordionContent = @"
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(a => accountsInfo.Account) + @"
    </dt>
    <dd class='col-sm-10'>
        " + @accountsInfo.Account + @"
    </dd>
    <hr>
    <dt class='col-sm-2''>
        " + @Html.DisplayNameFor(a => accountsInfo.Password) + @"
    </dt>
    <dd class='col-sm-10'>
        " + @accountsInfo.Password + @"
    </dd>
    <hr>
    <dt class='col-sm-2'>
        " + @Html.DisplayNameFor(a => accountsInfo.Level) + @"
    </dt>
    <dd class='col-sm-10'>
        " + @accountsInfo.Level + @"
    </dd>
    ";
    
    accordionContent = accordion.accordionGenerator("帳號組" + accordionCaculactor + " :", accordionContent, accordionCaculactor, accordionIDTag);
    accordionCaculactor++;
    <div>@Html.Raw(accordionContent)</div>
}
