@model OllieShop.Models.Announcements

@{
    ViewData["Title"] = "刪除公告";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">刪除公告為不可回復的操作，你確定要刪除此則公告嗎?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ATID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ATID)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ATContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ATContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AD.ADID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ATID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回公告欄</a>
    </form>
</div>
