@model OllieShop.Models.Announcements

@{
    ViewData["Title"] = "公告內容";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ATContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(@Model.ATContent.ToString().Replace("\r\n","<br>"))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AD.ADID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ATID">編輯</a> |
    <a asp-action="Index">回公告欄</a>
</div>
