@model IEnumerable<OllieShop.Models.Announcements>

@{
    ViewData["Title"] = "商城公告欄";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    var adminInfomation = Context.Session.GetString("AdminInfomation");
    var adminFullInfo = Newtonsoft.Json.JsonConvert.DeserializeObject<Admins>(adminInfomation);
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-ADID="@adminFullInfo.ADID">新增公告</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AD.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.ADID==@adminFullInfo.ADID){
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AD.Account)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ATID">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.ATID">完整內容</a> |
                <a asp-action="Delete" asp-route-id="@item.ATID">刪除</a>
            </td>
        </tr>
    }
    else
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AD.Account)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ATID">完整內容</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
