@model IEnumerable<OllieShop.Models.Orders>

@{
    ViewData["Title"] = "商鋪訂單總覽";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<div class="d-flex align-items-center">
    <h1 class="me-auto">@ViewData["Title"]</h1>
    <a asp-action="OptionsMenu" asp-controller="SellersBackEndPage">返回業者功能選單</a>
</div>
@if (Model.FirstOrDefault() == null)
{
    string sellerFullInfo = Context.Session.GetString("SellerInfomation");
    Sellers SellerInfomation = Newtonsoft.Json.JsonConvert.DeserializeObject<Sellers>(sellerFullInfo);
    <h3>尚未收到訂單</h3>
    <a asp-action="Index" asp-controller="SellerProductsManagement" asp-route-SRID="@SellerInfomation.SRID">管理商品去</a>
}
else{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    送達地
                </th>
                <th>
                    買家名稱
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PM.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SV.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

    @{ List<string> usersNameByOrder= ViewData["usersNameByOrder"] as List<string>;
        int calculactor = 0;}
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AS.City)@Html.DisplayFor(modelItem => item.AS.District)@Html.DisplayFor(modelItem => item.AS.Street)
                </td>
                <td>
                    @usersNameByOrder[calculactor]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PM.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SV.Name)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ORID">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.ORID">訂單詳情</a>
                </td>
            </tr>
            calculactor++;
    }
        </tbody>
    </table>
}