@model OllieShop.Models.Products

@{
    ViewData["Title"] = "商品資料";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <dl class="row col">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PTID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PTID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryFee)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DeliveryFee)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.LaunchDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LaunchDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Hidden)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Hidden)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Locked)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Locked)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Inquired)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Inquired)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Installment)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Installment)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Unopened)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Unopened)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ShelfQuantity)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ShelfQuantity)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SoldQuantity)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SoldQuantity)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.Raw(Model.Description.ToString().Replace("\r\n","<br>"))
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CYID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CYID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SRID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SRID)
            </dd>
        </dl>
        <div class="col">
            @await Component.InvokeAsync("VCSpecifications" , new {ptid = Model.PTID})
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.PTID">鎖定</a> |
    <a asp-action="Index">返回商品總覽</a>
</div>

<script>
    //要在此畫面隱藏default載入通往業者編輯頁的a標籤，因為這是管理員頁面
    const editSpecificationLink = document.getElementsByClassName("editSpecificationLink");
    for (i = 0; i < editSpecificationLink.length; i++) {
        editSpecificationLink[i].classList.add("d-none");
    }
</script>