@model OllieShop.Models.Users

@{
    ViewData["Title"] = "用戶資料";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>用戶 :【@Model.Name】的完整資料</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @(Model.Gender ? "男性" : "女性")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <div class="btn btn-dark text-start">
            <div class="text-info text-center">用戶帳號</div>
            @await Component.InvokeAsync("VCAccounts",new{urid=Model.URID})
        </div>
        <div class="btn btn-danger text-start">
            <div class="text-dark text-center">用戶地址</div>
            @await Component.InvokeAsync("VCAddresses",new{urid=Model.URID})
        </div>
        @if (Model.Sellers != null)
        {
            <div>
                商鋪名稱: @Model.Sellers.ShopNAME
                統一編號: @Model.Sellers.TaxID
                銀行局號: @Model.Sellers.BankCode
                銀行帳號: @Model.Sellers.BankAccount
            </div>
        }
        else
        {
            <div>No sellers found for this user.</div>
        }
    </dl>

</div>
<div>
    <a asp-action="Index">回用戶清冊</a>
</div>
