@model OllieShop.Models.Orders

@{
    ViewData["Title"] = "訂單詳情";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}
<style>
    .col-md-4{
        height:250px;
    }
</style>
<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <dl class="row">
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </dt>
                    <dd class = "col-sm-8">
                        @Html.DisplayFor(model => model.OrderDate)
                    </dd>
                    <dt class = "col-sm-4">
                        送達地
                    </dt>
                    <dd class = "col-sm-8">
                        @Html.DisplayFor(model => model.AS.City)@Html.DisplayFor(model => model.AS.District)@Html.DisplayFor(model => model.AS.Street)
                    </dd>
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.PM.Name)
                    </dt>
                    <dd class = "col-sm-8">
                        @Html.DisplayFor(model => model.PM.Name)
                    </dd>                    
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.SV.Name)
                    </dt>
                    <dd class = "col-sm-8">
                        @Html.DisplayFor(model => model.SV.Name)
                    </dd>
                    <dt class="col-sm-4 d-none">
                        @Html.DisplayNameFor(model => model.Canceled)
                    </dt>
                    <dd class="col-sm-8 d-none">
                        @Html.DisplayFor(model => model.Canceled)
                    </dd>
                </dl>
                <div class="p-0 my-3">@await Component.InvokeAsync("VCSellers" , new{SRID=Model.SRID})</div>
                <div>
                    @*<a asp-action="Edit" asp-route-id="@Model?.ORID">取消訂單</a> |*@
                    <a asp-action="Index" asp-route-CRID="@Model?.CRID">返回我的訂單總覽</a>
                </div>
            </div>
            <div class="col-8">
                @{
                    var purchaseProductsInfo = ViewData["purchaseProductsInfo"] as List<Products>;
                    var purchaseProductsSpecificationInfo = ViewData["purchaseProductsSpecificationInfo"] as List<Specifications>;
                    var OrderDetails = Model.OrderDetails.ToList();
                    double subtotal = 0;
                    //計算訂單總金額
                    if (Model.CN != null)
                    {
                        for (int i = 0; i < purchaseProductsInfo.Count(); i++)
                        {
                            subtotal += Decimal.ToDouble(Convert.ToDecimal((Decimal.ToDouble(purchaseProductsInfo[i].UnitPrice * OrderDetails[i].Quantity) * Model.CN.Discount)) + purchaseProductsInfo[i].DeliveryFee);
                        }
                    }
                    else
                    {
                        for (int i = 0; i < purchaseProductsInfo.Count(); i++)
                        {
                            subtotal += Decimal.ToDouble((purchaseProductsInfo[i].UnitPrice * OrderDetails[i].Quantity) + purchaseProductsInfo[i].DeliveryFee);
                        }
                    }
                }
                <div class="d-flex align-items-center">
                    <div class="fs-4 fw-bold me-auto">購買品項</div>
                    <div>訂單總額:<strong class="text-primary">NT$@subtotal.ToString("0")</strong></div>
                </div>
                <div class="d-flex flex-column">
                    @for (int i = 0; i < purchaseProductsInfo.Count();i++)
                    {
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="@purchaseProductsSpecificationInfo[i].Picture" class="productImage img-fluid rounded-start w-100 h-100" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">品名 : @purchaseProductsInfo[i].Name</h5>
                                        <p class="card-text">單價 : @purchaseProductsInfo[i].UnitPrice.ToString("0")</p>
                                        <p class="card-text">購買數量 :@OrderDetails[i].Quantity</p>
                                        <p class="card-text">運費 : @purchaseProductsInfo[i].DeliveryFee.ToString("0")</p>
                                        <p class="card-text"><small class="text-body-secondary"><a target="_blank" asp-action="ProductPage" asp-controller="Home" asp-route-PTID="@purchaseProductsInfo[i].PTID">點我查看商品頁面</a></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        breakCacheStoreRuleForDisplayUpdatePhoto(".productImage");
    </script>
}