@model OllieShop.Models.Sellers

@{
    ViewData["Title"] = "商鋪資訊";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <h2 class="text-primary">@TempData["editSuccessMessage"]</h2>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-SRID="@Model?.SRID">修改內容</a> |
    <a asp-action="OptionsMenu" asp-controller="SellersBackEndPage">返回業者後台</a>
</div>
