@model IEnumerable<OllieShop.Models.Announcements>

@{
    ViewData["Title"] = "公告欄";
}
<div class="d-flex flex-column container-fluid">
    <h1>@ViewData["Title"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PublicDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ATID">完整內容</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>