@model OllieShop.Models.CustomerCoupons

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CustomerCoupons</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CN.CODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CR.CRID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CRCNID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
